<<<<<<< HEAD
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color:  black;
    color: white;
}
.navbar{
    display: flex;
    background-color: aqua;
    font-size: 20px;
    justify-content: space-between;
    margin:0px ;
}
.menu{
    display: flex;
    align-items: center;
}
.menu-item,.lgn,.sgn{
    border: 3px solid green;
    background-color: blueviolet;
    font-size: 20px;
    color:beige;
    border-radius: 12px;
    margin: 20px;
}
a{
    text-decoration: none;
}
a:hover{
    border-color: bisque;
    color: black;
}
.main-content{
    display: flex;
    justify-content: space-between;
    background-color: aqua;
    margin: 20px;
    border: 5px solid yellow;
}
.about-website{
    width: 40%;
}
.news{
    width: 30%;
}
.login_panel{
    width: 30%;
}
table{
    font-size: 30px;
    border: 5px solid green;
    border-radius: 10px;
}
.loremmm{
    border: 5px solid green;
    border-radius: 10px;
}
.footer{
    width: 100%;
    margin: 20px;
    background-color:  black;
    color: aliceblue;
    justify-content:space-between;

}
.copyright{
    width: 100%;
    margin: 20px;
    background-color: black;
    color: aliceblue;
    
=======
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color:  black;
    color: white;
}
.navbar{
    display: flex;
    background-color: aqua;
    font-size: 20px;
    justify-content: space-between;
    margin:0px ;
}
.menu{
    display: flex;
    align-items: center;
}
.menu-item,.lgn,.sgn{
    border: 3px solid green;
    background-color: blueviolet;
    font-size: 20px;
    color:beige;
    border-radius: 12px;
    margin: 20px;
}
a{
    text-decoration: none;
}
a:hover{
    border-color: bisque;
    color: black;
}
.main-content{
    display: flex;
    justify-content: space-between;
    background-color: aqua;
    margin: 20px;
    border: 5px solid yellow;
}
.about-website{
    width: 40%;
}
.news{
    width: 30%;
}
.login_panel{
    width: 30%;
}
table{
    font-size: 30px;
    border: 5px solid green;
    border-radius: 10px;
}
.loremmm{
    border: 5px solid green;
    border-radius: 10px;
}
.footer{
    width: 100%;
    margin: 20px;
    background-color:  black;
    color: aliceblue;
    justify-content:space-between;

}
.copyright{
    width: 100%;
    margin: 20px;
    background-color: black;
    color: aliceblue;
    
>>>>>>> 0e7c0aa7679f1fd786e35752b8b9c34531ba4023
}